<h1>Add a recipe</h1>

<form action="/recipes" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="name">Description</label>
    <input type="text" name="description" >
  </div>
  <div>
    <label for="name">URL</label>
    <input type="url" name="link" required>
  </div>
  <input type="submit" value="Add to cookbook">
</form>

<a href="/">Back to list</a>
