<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Search allrecipes.com for new recipes</h2>

      <form action="/search/recipes" method="get">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="Ingredient" name="keyword" type="text">
          </div>
        </div>
        <button class="btn btn-success" type="submit">Search Recipes</button>
      </form>

      <a href="/">Back to list</a>
    </div>
  </div>
</div>



