<h1>What ingredient would you like a recipe for?</h1>

<form action="/recipes" method="post">
  <div>
    <label for="name">Ingredient</label>
    <input type="text" name="name">
  </div>
  <input type="submit" value="Search ingredients">
</form>

<a href="/">Back to list</a>

